$primary: #91b162;
$primary: #3B7523;
$primary: #437A31;
$primary-invert: findColorInvert($primary);

$success: #91b162;

$info: #ee7d32;
$link:#ee7d32;
$menu-item-active-background-color: #ee7d32;
//$info: #DD691B;

$black: #080705;

//$dropdown-content-z: 50;

$family-primary: 'Open Sans';
$family-primary: 'Maven Pro', 'Open Sans';

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    //"twitter": ($twitter, $twitter-invert)
);